name: Lighthouse CI
on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lhci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install deps
        run: npm ci
      - name: Wait for Preview / Start Server
        run: |
          # If you have a static build server:
          npm run build
          npm run start & npx wait-on http://localhost:3000
        if: ${{ github.event_name == 'pull_request' }}
      - name: Run LHCI (Preview)
        run: TARGET_URL=http://localhost:3000 npx lhci autorun
        if: ${{ github.event_name == 'pull_request' }}
      - name: Run LHCI (Prod)
        run: TARGET_URL=https://example.com npx lhci autorun
        if: ${{ github.event_name != 'pull_request' }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lighthouse-reports
          path: lhci_reports/**